.category{
    .cate-title{
        text-align: center;
        h3{
            font-size: 32px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
         }
        p{
            color: #666;
            font-size: 20px;
        }
    }
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 48px;
    margin-bottom: 106px;
    .cate-img{
        display: grid;
        grid-template-columns: repeat(3,381px);
        grid-column-gap: 10px;
        .cate-box{
        grid-column: span 1;
        width: 381px;
        height: 480px;
        text-align: center;
        grid-column-gap: 20px ;
            img{
                width:100%;
                height: 100%;
                object-fit: cover;
            }
            h5{
                margin-top: 20px;
                font-size: 24px;
                font-weight: 600;
            }
        }
    }
    
}