@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins";
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}

h1 {
  font-size: 54px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 32px;
}

h4 {
  font-size: 28px;
}

h5 {
  font-size: 24px;
}

h6 {
  font-size: 22px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 800;
}

.container {
  width: 100vw;
  overflow: hidden;
  margin: 0 auto;
}

header {
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 100px;
}
header h1 {
  font-size: 34px;
  font-style: normal;
  font-weight: 700;
}
header .icon-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 75px;
}
header ul li {
  list-style: none;
}
header .icon-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 45px;
}
header .icon-menu label {
  position: relative;
}
header .icon-menu label svg {
  cursor: pointer;
}
header .icon-menu label .search-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  border: 3px solid black;
  background-color: #E8E8E8;
  height: 50px;
  padding: 0 10px;
  bottom: -50px;
  border-radius: 10px;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transition: -webkit-transform ease-in-out 0.3;
  transition: -webkit-transform ease-in-out 0.3;
  transition: transform ease-in-out 0.3;
  transition: transform ease-in-out 0.3, -webkit-transform ease-in-out 0.3;
  -webkit-transform-origin: top;
          transform-origin: top;
}
header .icon-menu label .search-box form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
header .icon-menu label .search-box form input {
  font-size: 20px;
  border: none;
  outline: none;
  background-color: #E8E8E8;
}
header .icon-menu label .search-box form button {
  border: none;
  background: none;
}
header .icon-menu label #search-icon:checked ~ .search-box {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
}
header a, header .icon-menu > ul > li {
  position: relative;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}
header .icon-menu > ul > li::before, header ul > li > a::before {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  background-color: #AD5727;
  height: 3px;
  width: 100%;
  border-radius: 20px;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  -webkit-transform-origin: right;
          transform-origin: right;
}
header ul > li > a::before, header .icon-menu > ul > li {
  bottom: -2px;
}
header a:hover::before, header a:hover, header .icon-menu > ul > li:hover::before {
  color: #AD5727;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: left;
          transform-origin: left;
}

@media only screen and (max-width: 600px) {
  header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 40px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-bottom: 100px;
    padding: 20px;
  }
}
@media only screen and (min-width: 600px) {
  header {
    grid-area: 1/span 6;
  }
}
@media only screen and (min-width: 768px) {
  header {
    grid-area: 1/span 6;
  }
}
footer {
  width: 100%;
  height: 505px;
  padding: 48px 100px;
  border-top: 1px solid rgba(0, 0, 0, 0.168627451);
  background: #FFF;
}
footer h4 {
  color: #9F9F9F;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
footer .footer-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 40px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.168627451);
  padding: 40px;
  margin-bottom: 40px;
}
footer .menu-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}
footer .menu-column ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 46px;
}
footer .menu-column ul li > a {
  position: relative;
}
footer .menu-column ul li > a::before {
  content: "";
  position: absolute;
  bottom: 0;
  height: 2px;
  width: 100%;
  background-color: black;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  border-radius: 20px;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  -webkit-transform-origin: right;
          transform-origin: right;
}
footer .menu-column ul li > a:hover::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: left;
          transform-origin: left;
}
footer .menu-column:nth-child(1) {
  grid-column: 1/4;
}
footer .menu-column:nth-child(1) p {
  color: #9F9F9F;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
footer .menu-column:nth-child(2) {
  grid-column: 5/6;
}
footer .menu-column:nth-child(3) {
  grid-column: 7/9;
}
footer .menu-column:nth-child(4) {
  grid-column: 9/11;
}
footer .menu-column:nth-child(4) .newsletter-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
}
footer .menu-column:nth-child(4) .newsletter-box input, footer .menu-column:nth-child(4) .newsletter-box button {
  color: #000;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  background-color: #FFF;
  border-radius: 0px;
  border: none; /* Xóa viền */
  outline: none; /* Xóa viền khi click vào */
  border-bottom: 1px solid black;
  width: 200px;
  height: 21px;
}

.breadcrumbs {
  background-image: url(../scss/components/img/breadcrumbs/banner.png);
  height: 316px;
  width: 100%;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.breadcrumbs h1 {
  color: #000;
  font-family: Poppins;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.breadcrumbs .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
.breadcrumbs .links > a {
  color: #000;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.breadcrumbs .active > a {
  font-weight: 500;
}

.white-button {
  padding: 12px 82px;
  font-size: 16px;
  font-weight: 600;
  border: 1px solid #B88E2F;
  line-height: 150%;
  white-space: nowrap;
  color: #B88E2F;
  background-color: #fff;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}

.white-button:hover {
  background-color: #B88E2F;
  color: #fff;
}

.button1 {
  width: 215px;
  height: 64px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  color: #000;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
  border-radius: 15px;
  font-style: normal;
  background-color: #fff;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}

.button1:hover {
  background-color: #000;
  color: #fff;
}

.button2 {
  border: none;
  color: #fff;
  background-color: #B88E2F;
  font-size: 16px;
  padding: 25px 72px;
}

.button2:hover {
  background-color: #ac8323;
  border: none;
  color: white;
}

.category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 48px;
  margin-bottom: 106px;
}
.category .cate-title {
  text-align: center;
}
.category .cate-title h3 {
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.category .cate-title p {
  color: #666;
  font-size: 20px;
}
.category .cate-img {
  display: grid;
  grid-template-columns: repeat(3, 381px);
  grid-column-gap: 10px;
}
.category .cate-img .cate-box {
  grid-column: span 1;
  width: 381px;
  height: 480px;
  text-align: center;
  grid-column-gap: 20px;
}
.category .cate-img .cate-box img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.category .cate-img .cate-box h5 {
  margin-top: 20px;
  font-size: 24px;
  font-weight: 600;
}

.collection {
  display: grid;
  grid-template-columns: 1fr 0.4fr 1fr;
  width: 125%;
  margin-bottom: 50px;
  grid-gap: 16px;
  -webkit-animation: slide 10s linear infinite alternate;
          animation: slide 10s linear infinite alternate;
}
.collection .col {
  display: grid;
  grid-gap: 16px;
}
.collection .col .img-box {
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
.collection .col .img-box img {
  max-width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.collection .col .b1 {
  grid-area: 1/1/4/3;
}
.collection .col .b2 {
  grid-area: 2/3/4/7;
}
.collection .col .b3 {
  grid-area: 4/1/7/4;
}
.collection .col .b4 {
  grid-area: 4/4/5/7;
}
.collection .col .b6 {
  grid-area: 4/1/5/4;
}
.collection .col .b7 {
  grid-area: 1/4/5/8;
}
.collection .col .b8 {
  grid-area: 5/1/8/3;
}
.collection .col .b9 {
  grid-area: 5/3/6/5;
}
.collection .col:nth-child(2) .b5 {
  max-width: 100%;
  max-height: 70%;
  grid-row: 2/4;
}
@-webkit-keyframes slide {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-300px);
            transform: translateX(-300px);
  }
}
@keyframes slide {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-300px);
            transform: translateX(-300px);
  }
}

.collection-title {
  margin-top: 40px;
  place-self: center;
  text-align: center;
}
.collection-title p {
  color: var(--Color-Gray-2, #616161);
  text-align: center;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 30px */
}
.collection-title h3 {
  color: var(--Color-Gray-1, #3A3A3A);
  text-align: center;
  font-family: Poppins;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 48px */
}

.decor {
  width: 1800px;
  display: grid;
  gap: 16px;
  position: absolute;
}

@keyframes slide {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-300px);
            transform: translateX(-300px);
  }
}
.decor-img:nth-child(1) {
  grid-area: 1/1/4/3;
}

.decor-img:nth-child(2) {
  grid-area: 4/1/16/4;
}

.decor-img:nth-child(3) {
  grid-area: 2/3/4/6;
}

.decor-img:nth-child(4) {
  grid-area: 10/4/4/6;
}

.decor-img:nth-child(5) {
  grid-area: 3/6/5/8;
}

.decor-img:nth-child(6) {
  grid-area: 2/8/4/10;
}

.decor-img:nth-child(7) {
  grid-area: 1/10/4/13;
}

.decor-img:nth-child(8) {
  grid-area: 4/8/12/8;
}

.decor-img:nth-child(9) {
  grid-area: 4/9/5/13;
}

.decor-img {
  -ms-flex-line-pack: stretch;
      align-content: stretch;
}

img {
  width: 100%;
  height: 100%;
  border-radius: 1px;
  -o-object-fit: cover;
     object-fit: cover;
}

.filterProduct {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px;
  background: #F9F1E7;
  padding: 0 100px;
}
.filterProduct .filter-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
}
.filterProduct .filter-menu .result::before {
  content: "";
  display: block;
  width: 2px;
  height: 40px; /* Điều chỉnh chiều cao */
  background: #9F9F9F;
  margin-right: 10px;
}
.filterProduct ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
}
.filterProduct ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 17px;
  cursor: pointer;
}
.filterProduct ul li input {
  width: 55px;
  height: 55px;
  border: none;
  text-align: center;
}
.filterProduct ul li select {
  height: 55px;
  border: none;
  outline: none;
}

.hero {
  width: 100%;
  height: 700px;
  background-image: url(../scss/components/img/background.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-bottom: 60px;
}
.hero .col:nth-child(2) {
  padding-left: 41px;
  padding-top: 62px;
  padding-right: 43px;
  height: 443px;
  width: 643px;
  background-color: #FFF3E3;
  margin-right: 58px;
  margin-top: 156px;
  border-radius: 10px;
}
.hero .col:nth-child(2) span {
  font-weight: 600;
  letter-spacing: 3px;
}
.hero .col:nth-child(2) h1 {
  font-size: 52px;
  line-height: 65px;
  color: #B88E2F;
  font-weight: 700;
}
.hero .col:nth-child(2) p {
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
  margin-bottom: 46px;
}

.pagination {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 80px 0;
  gap: 38px;
}
.pagination button {
  padding: 15px 27px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 10px;
  background: var(--Primary, #F9F1E7);
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
  border: none;
  font-size: 20px;
  font-weight: 400;
}
.pagination button:hover {
  background-color: #B88E2F;
  color: white;
}

.product-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 32px;
}

.product-section {
  font-family: "Poppins";
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  margin: 0 100px;
  gap: 30px;
}
.product-section .product-box {
  position: relative;
  display: grid;
  grid-row-gap: 8px;
  grid-column: span 3;
  min-height: 446px;
  background-color: #F4F5F7;
  overflow: hidden;
  width: auto;
}
.product-section .overlay {
  position: absolute;
  background-color: rgba(58, 58, 58, 0.72);
  min-height: 446px;
  width: 100%;
  top: 100%;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
}
.product-section .overlay .product-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}
.product-section .overlay .product-link a {
  font-size: 16px;
  color: #fff;
}
.product-section .product-details:hover .overlay {
  padding: 0;
  top: 0;
}
.product-section .img-box {
  width: 100%;
  position: relative;
  height: 301px;
}
.product-section .img-box img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.product-section .img-box .sale {
  background-color: #E97171;
  width: 48px;
  height: 48px;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
  font-size: 16px;
  font-weight: 500;
}
.product-section .product-details {
  margin-top: 16px;
  grid-row: span 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
  height: auto;
}
.product-section .product-details h4 {
  padding: 0 16px;
  font-size: 24px;
  font-weight: 600;
}
.product-section .product-details p {
  padding: 0 16px;
  font-size: 16px;
  font-weight: 500;
  color: #898989;
}
.product-section .product-details h5 {
  padding: 0 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
  font-size: 20px;
  font-weight: 600;
}
.product-section .product-details h5 span {
  text-decoration: line-through;
  font-size: 16px;
  color: #B0B0B0;
  font-weight: 400;
}

.services {
  width: 100%;
  background: #FAF3EA;
  padding: 100px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.services .col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.services .col .service-detail h5 {
  color: #242424;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 37.5px */
  margin-bottom: 10px;
}
.services .col .service-detail p {
  color: var(--Color-Gray-3, #898989);
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 30px */
}

.cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  padding: 70px 100px 65px;
}
.cart .cart-total {
  padding: 15px 90px 80px;
  background-color: #F9F1E7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 60px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.cart .cart-total h4 {
  line-height: normal;
  font-weight: 600;
  font-size: 32px;
}
.cart .cart-total form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 50px;
}
.cart .cart-total form table {
  width: 100%;
  border-collapse: collapse;
}
.cart .cart-total form table td {
  padding: 15px 0;
}
.cart .cart-total form table td:first-child {
  text-align: left;
  color: #000;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.cart .cart-total form table td:last-child {
  text-align: right;
}
.cart .cart-total form table tr:nth-child(1) > td:last-child {
  color: #9F9F9F;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.cart .cart-total form table tr:nth-child(2) > td:last-child {
  color: var(--Primary, #B88E2F);
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.cart .cart-total form .button1 {
  background-color: #F9F1E7;
}
.cart .cart-table .img-cart {
  background-color: #F9F1E7;
}
.cart .cart-table table {
  table-layout: fixed;
  width: 100%;
}
.cart .cart-table td {
  color: #9F9F9F;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  vertical-align: middle;
  padding: 10px;
}
.cart .cart-table td input {
  width: 32px;
  height: 32px;
  border-radius: 5px;
  border: 1px solid #9F9F9F;
  vertical-align: middle;
}
.cart .cart-table td:last-child {
  width: 50px;
}
.cart .cart-table tr:first-child {
  background: #F9F1E7;
}
.cart .cart-table tr:first-child td {
  color: #000;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.comparison {
  width: 100%;
}
.comparison .main {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 0 100px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.comparison .main h3 {
  color: #000;
  font-family: Poppins;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 126.5%; /* 35.42px */
}
.comparison .aside {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  -webkit-column-gap: 47px;
     -moz-column-gap: 47px;
          column-gap: 47px;
  height: 500px;
  width: 100%;
}
.comparison .aside h5 {
  font-size: 25px;
  color: gray;
}
.comparison .aside .content1 {
  height: 300px;
  width: 280px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 35px;
}
.comparison .aside .content1 span {
  font-size: 15px;
  color: gray;
}
.comparison .aside .content1 .review {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.comparison .aside .content1 .review .review-detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.comparison .aside .content1 .review .review-detail svg {
  margin-left: 5px;
}
.comparison .aside .content1 .review .review-detail span {
  margin-left: 10px;
}
.comparison .aside .content1 .review .vertical-line {
  width: 2px; /* Độ rộng của đường kẻ */
  height: 20px; /* Chiều cao của đường kẻ */
  background-color: #ccc; /* Màu sắc của đường kẻ */
  display: inline-block; /* Hoặc display: block; tùy thuộc vào cách bạn muốn nó hiển thị */
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg); /* Xoay 90 độ để tạo thành đường kẻ dọc */
}
.comparison .aside .content1 hr {
  width: 115px;
}
.comparison .aside .content1 .font {
  margin-left: 25px;
}
.comparison .aside select {
  width: 242px;
  height: 39px;
  background-color: #b88e2f;
  color: white;
  border: none;
  border-radius: 5px;
}
.comparison table {
  width: 100%;
  margin-left: 100px;
  border-collapse: collapse;
  border-top: 1px solid #e8e8e8;
}
.comparison table tr td {
  border-top: none;
  border-bottom: none;
  border-right: 1px solid #e8e8e8;
  padding: 20px 10px 20px 50px;
}
.comparison table tr td p {
  font-size: 20px;
}
.comparison table tr td button {
  background-color: #b88e2f;
  padding: 10px 20px;
  border: none;
  color: #fff;
}
.comparison table tr td:nth-child(4) {
  border-right: none;
}
.comparison table tr td:nth-child(1) {
  width: 350px;
}
.comparison table tr td:nth-child(2) {
  width: 350px;
}
.comparison table tr td:nth-child(3) {
  width: 350px;
}